<p><%= flash[:alert] %></p>
<h2>병원 추가하기</h2>

<form action="/treatments/write_complete" method="post">
  <p style="color: #ff0000">분류:
  <select name="post_category">
    <option value="예방접종">예방접종</option>
    <option value="중성화">중성화</option>
    <option value="미용">미용</option>
    <option value="일반진료">일반진료</option>
  </select></p>
  <p>제목: <input type="text" name="post_title" placeholder="제목을 입력하세요."></p>
  <p>내용: <textarea name="post_content" placeholder="내용을 입력하세요."></textarea></p>
  <input type="submit" value="추가하기">
</form>
