<!DOCTYPE html>
<html>
<head>
  <title>펫똑</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h4><a href="/">우리동네 동물병원</a> || <a href="/vaccination">예방접종</a> | <a href="/neutering">중성화</a> | <a href="/grooming">미용</a> | <a href="/treatment">일반진료</a></h4>


<%= yield %>

</body>
</html>
